/** @format */

.scroll-box {
	position: relative;
	bottom: 0%;
	left: 50%;
	width: fit-content;
	cursor: pointer;
}

.scroll-box span {
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.scroll-box span:nth-child(1) {
	animation-delay: -0.4s;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(0px, 0px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(50px, 50px);
	}
}
