/** @format */

.blog {
  .post-wrapper {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    @media screen and (max-width: 1050px) {
      grid-template-columns: auto auto;
    }
    @media screen and (max-width: 800px) {
      grid-template-columns: auto;
    }
  }
}
